{% extends "base.html" %}
    {% block title %}Services{% endblock %}
    {% block main1 %}
        <article class="service-description base-model">
            <h3 class="model-heading">We Offer</h3>
            <p>Jnana Bharathi Samudaya Bhavana has a seating capacity of 500 guests and a floating capacity of 1500 guests.</p>
            <p>Our halls are specially illuminated with tasteful indoor lighting. They make for a stunning wedding setting and capture incredibly well in photos and videos.</p>
            <p>We offer outsourcing Catering services for your big day. We <strong>DO NOT</strong> provide in-house Decorations, Photography & Videography, and we collaborate with external providers of your choice to meet your needs.</p>
            <p>Our Dining hall can serve from 250 guests to a maximum of 400 guests per serving.</p>
            <p>To ensure smooth even without any disturbance and interruptions, our technician and electrician will be present at the venue throughout your event.</p>
            <p>The guest can enjoy an uninterrupted view of the stage from their seating area.</p>
            <p>We have a trained team of support staff and security, who are warm and hospitable and will prioritize the need and comfort of you and your guests.</p>
        </article>
    {% endblock %}
    {% block main2 %}
        <article class="service-list base-model">
            <h3 class="model-heading">Services Available</h3>
            <p>- One Large Hall</p>
            <p>- Backup Generator</p>
            <p>- 10 Fully Furnished Rooms</p>
            <p>- 24/7 CCTV surveillance</p>
            <p>- Bathroom Facility in all the Rooms</p>
            <p>- Water Facility</p>
            <p>- Dining Area with Tables & Chairs</p>
            <p>- Stage Platform with Carpets</p>
            <p>- Bridal & Groom Sofa</p>
            <p>- House Keeping for Cleaning</p>
            <p>- Security Guards</p>
            <p>- Spacious Parking for All</p>
        </article>
    {% endblock %}
    